<section>
	<form (ngSubmit)="onSignin(f)" #f="ngForm" class="col-md-6">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email"
			name="email" ngModel required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password"
			name="password" ngModel required>
		</div>
		<button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign in</button>
	</form>	
</section>
